@media only screen and (max-width: 580px) {
  /* line 2, ../sass/cart.scss */
  .simpleCart_items .itemRow .item-description {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  /* line 8, ../sass/cart.scss */
  #shoppingCartText {
    display: none;
  }

  /* line 11, ../sass/cart.scss */
  #emptyCart {
    clear: both;
    margin-top: 10px;
    margin-right: 0 !important;
  }

  /* line 16, ../sass/cart.scss */
  #adults {
    display: none;
  }
}
/* line 23, ../sass/cart.scss */
#cartLogo {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  right: 200px;
}

/* line 31, ../sass/cart.scss */
#cartImg {
  position: absolute;
  top: 5px;
}
/* line 34, ../sass/cart.scss */
#cartImg path {
  fill: white;
}

/* line 39, ../sass/cart.scss */
#wheeLogo path {
  fill: white;
  filter: drop-shadow(5px 3px 1px black);
}

/* line 44, ../sass/cart.scss */
#simpleCartWrapper {
  display: none;
  /*background-color: #1F87FF;*/
  background-color: #ABDBF5;
  height: auto;
  z-index: 999;
  padding: 70px 10px 10px 50px;
  color: black;
}

/* line 54, ../sass/cart.scss */
.simpleCart_increment, .simpleCart_decrement {
  color: black;
}

/*#cartFooter #emptyCart {
	position: absolute;
	right: 200px;
	bottom: 0;
}

#cartFooter #checkout {
	position: absolute;
	right: 20px;
	bottom: 0;
}*/
/* line 70, ../sass/cart.scss */
.simpleCart_quantity {
  position: absolute;
  right: 63px;
  top: 7px;
  color: white;
  font-size: 18px;
  height: 10px;
  z-index: 999;
}

/* line 80, ../sass/cart.scss */
.simpleCart_items {
  padding-bottom: 10px;
}
/* line 82, ../sass/cart.scss */
.simpleCart_items .headerRow {
  display: none;
}
/* line 85, ../sass/cart.scss */
.simpleCart_items .itemRow {
  margin-bottom: 100px;
  position: relative;
}
/* line 88, ../sass/cart.scss */
.simpleCart_items .itemRow .item-name {
  position: absolute;
  font-size: 1.2em;
  left: 150px;
}
/* line 93, ../sass/cart.scss */
.simpleCart_items .itemRow .item-description {
  position: absolute;
  font-size: 1.2em;
  left: 350px;
}
/* line 98, ../sass/cart.scss */
.simpleCart_items .itemRow .item-decrement {
  position: absolute;
  font-size: 1.2em;
  left: 150px;
  display: block;
  top: 40px;
}
/* line 105, ../sass/cart.scss */
.simpleCart_items .itemRow .item-price {
  position: absolute;
  font-size: 1.2em;
  left: 150px;
  top: 80px;
}
/* line 111, ../sass/cart.scss */
.simpleCart_items .itemRow .item-quantity {
  position: absolute;
  font-size: 1.2em;
  left: 170px;
  top: 40px;
}
/* line 117, ../sass/cart.scss */
.simpleCart_items .itemRow .item-increment {
  position: absolute;
  font-size: 1.2em;
  left: 190px;
  top: 40px;
}
/* line 123, ../sass/cart.scss */
.simpleCart_items .itemRow .item-image img {
  position: absolute;
  font-size: 1.2em;
  height: 128px;
  width: 128px;
  left: 0;
}

/* line 133, ../sass/cart.scss */
#quantityCircle {
  right: 50px;
  top: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: blue;
}

/* line 147, ../sass/cart.scss */
#shoppingCartText {
  position: absolute;
  right: 100px;
  top: 10px;
  text-transform: uppercase;
}

/* line 154, ../sass/cart.scss */
#cartFooter {
  position: relative;
  height: auto;
  padding-top: 20px;
  border-top: 1px solid;
}

/* line 161, ../sass/cart.scss */
.cartButton {
  text-decoration: none;
}
/* line 163, ../sass/cart.scss */
.cartButton:hover, .cartButton:visited {
  text-decoration: none;
}

/* line 168, ../sass/cart.scss */
.simpleCart_total {
  font-size: 1.8em;
}

/* line 172, ../sass/cart.scss */
#emptyCart {
  margin-right: 50px;
}

/* line 176, ../sass/cart.scss */
#cartFooter span:first-of-type {
  font-weight: bold;
}

/* line 180, ../sass/cart.scss */
#cartLogo {
  color: white;
  cursor: pointer;
}
