.caption {
	height: auto;
}
.navbar {
	background-color: black;
}

#contentContainer{
	padding-top: 75px;
}

body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	font-size: 18px;
}

span#price {
	font-weight: bold;
}

button.addToCart {
	position: absolute;
	bottom: 0;
	right: 0;
}

a#offerName {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-decoration: none;
	color: brown;
}


