.caption {
	height: auto;
}
.navbar {
	background-color: black;
}

#contentContainer{
	padding-top: 75px;
}

.thumbnail img {
	height: 320px;
}

body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	font-size: 18px;
}

span#price {
	font-weight: bold;
}

button.toggleAddToCartMenu {
	position: absolute;
	bottom: 0;
	right: 0;
}

a#offerName {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-decoration: none;
	color: brown;
}

.addToCartButtonMenu {
	display: none;
	border: 2px solid;
	position: absolute;
	bottom: -75px;
	right: 0;
	z-index: 999;
	height: 75px;
	width: 200px;
	background-color: blue;
}

.addToCartButtonMenu .addToCart {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}