.caption {
	height: auto;
}
.navbar {
	background-color: black;
}

#contentContainer{
	padding-top: 75px;
}

.thumbnail {
	padding-bottom: 0;
}

.thumbnail img {
	height: 320px;

}

.thumbnail .caption h4 {
	text-align: center;
}

.price {
	height: 36px;
	padding-top: 5px;

	padding-left: auto;
	padding-right: auto;
}

 #price {
	color: white;
	height: 36px;

}

body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	font-size: 18px;
}

span#price {
	font-weight: bold;
}

.price {
	background-color: #0454B0;
}

button.toggleAddToCartMenu {
	
	width: 100%;
	background-color: #0454B0;
}

a#offerName {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-decoration: none;
	color: brown;

}

.addToCart {
	background-color: #0454B0;
}

.numberOfAdults {
	background-color: #0454B0;
}

.numberOfAdults option {
	background-color: #0454B0;
}

.numberOfAdults:selection { 
	background: #ffb7b7;
}
.addToCartButtonMenu {
	display: none;
	border: 2px solid blue;
	position: absolute;
	bottom: -75px;
	right: 0;
	z-index: 999;
	height: 75px;
	width: 200px;
	background-color: #1F87FF;
	color: white;

}

.addToCartButtonMenu #adults {
	text-transform: uppercase;
	font-size: 0.8em;		
}

.addToCartButtonMenu .addToCart {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

