/* line 3, ../sass/offeritem.scss */
.thumbnail {
  padding-bottom: 0;
}
/* line 5, ../sass/offeritem.scss */
.thumbnail img {
  height: 320px;
  font-style: italic;
}
/* line 9, ../sass/offeritem.scss */
.thumbnail .caption {
  height: auto;
}
/* line 11, ../sass/offeritem.scss */
.thumbnail .caption h4 {
  text-align: center;
}
/* line 15, ../sass/offeritem.scss */
.thumbnail .descriptionMenu {
  padding: 10px 10px 10px 10px;
  font-style: italic;
  display: none;
  position: absolute;
  z-index: 998;
  background-color: white;
}
/* line 23, ../sass/offeritem.scss */
.thumbnail .price {
  height: 36px;
  padding-top: 5px;
  padding-left: auto;
  padding-right: auto;
  background-color: #1d6cc4;
  overflow: hidden;
}
/* line 32, ../sass/offeritem.scss */
.thumbnail .priceVal {
  color: white;
  height: 36px;
  font-weight: bold;
}
/* line 36, ../sass/offeritem.scss */
.thumbnail .priceVal span {
  color: #3181db;
}
/* line 40, ../sass/offeritem.scss */
.thumbnail .addToCartButtonMenu {
  display: none;
  border: 2px solid blue;
  position: absolute;
  bottom: -70px;
  right: 0;
  z-index: 999;
  height: 70px;
  width: 180px;
  background-color: #1d6cc4;
  color: white;
}
/* line 51, ../sass/offeritem.scss */
.thumbnail .addToCartButtonMenu .adultsTxt {
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 35px;
}
/* line 56, ../sass/offeritem.scss */
.thumbnail .addToCartButtonMenu .addToCart {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
/* line 61, ../sass/offeritem.scss */
.thumbnail .addToCartButtonMenu .addToCart:hover {
  background-color: white;
  color: black;
}
/* line 67, ../sass/offeritem.scss */
.thumbnail .toggleAddToCartMenu {
  width: 100%;
  background-color: #3181db;
  font-size: 0.9em;
  font-weight: bold;
}
/* line 72, ../sass/offeritem.scss */
.thumbnail .toggleAddToCartMenu:hover {
  background-color: black;
  color: white;
}
/* line 78, ../sass/offeritem.scss */
.thumbnail a.offerName {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-decoration: none;
  color: #5c4b39;
}
/* line 85, ../sass/offeritem.scss */
.thumbnail .addToCart {
  background-color: #3181db;
}
/* line 89, ../sass/offeritem.scss */
.thumbnail .numberOfAdults {
  background-color: #1d6cc4;
}
/* line 91, ../sass/offeritem.scss */
.thumbnail .numberOfAdults option {
  background-color: #3181db;
}
/* line 94, ../sass/offeritem.scss */
.thumbnail .numberOfAdults:selection {
  background: #ffb7b7;
}
