@media only screen and (max-width: 580px) {
  .simpleCart_items .itemRow .item-description {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  #shoppingCartText {
    display: none;
  }
  #emptyCart {
    clear: both;
    margin-top: 10px;
    margin-right: 0 !important;
  }
  #adults {
    display: none;
  }

}


#cartLogo {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0px;
  right: 200px;
}

#cartImg {
  position: absolute;
  top: 5px;
  path {
    fill: white;
  }
}

#wheeLogo path {
  fill: white;
  filter: drop-shadow(5px 3px 1px black);
}

#simpleCartWrapper {
  display: none;
  /*background-color: #1F87FF;*/
  background-color: #ABDBF5;
  height: auto;
  z-index: 999;
  padding: 70px 10px 10px 50px;
  color: black;
}

.simpleCart_increment, .simpleCart_decrement {
  color: black;
}

/*#cartFooter #emptyCart {
	position: absolute;
	right: 200px;
	bottom: 0;
}

#cartFooter #checkout {
	position: absolute;
	right: 20px;
	bottom: 0;
}*/

.simpleCart_quantity {
  position: absolute;
  right: 63px;
  top: 7px;
  color: white;
  font-size: 18px;
  height: 10px;
  z-index: 999;
}

.simpleCart_items {
  padding-bottom: 10px;
  .headerRow {
    display: none;
  }
  .itemRow {
    margin-bottom: 100px;
    position: relative;
    .item-name {
      position: absolute;
      font-size: 1.2em;
      left: 150px;
    }
    .item-description {
      position: absolute;
      font-size: 1.2em;
      left: 350px;
    }
    .item-decrement {
      position: absolute;
      font-size: 1.2em;
      left: 150px;
      display: block;
      top: 40px;
    }
    .item-price {
      position: absolute;
      font-size: 1.2em;
      left: 150px;
      top: 80px;
    }
    .item-quantity {
      position: absolute;
      font-size: 1.2em;
      left: 170px;
      top: 40px;
    }
    .item-increment {
      position: absolute;
      font-size: 1.2em;
      left: 190px;
      top: 40px;
    }
    .item-image img {
      position: absolute;
      font-size: 1.2em;
      height: 128px;
      width: 128px;
      left: 0;
    }
  }
}

#quantityCircle {
  right: 50px;
  top: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: blue;
}

#shoppingCartText {
  position: absolute;
  right: 100px;
  top: 10px;
  text-transform: uppercase;
}

#cartFooter {
  position: relative;
  height: auto;
  padding-top: 20px;
  border-top: 1px solid;
}

.cartButton {
  text-decoration: none;
  &:hover, &:visited {
    text-decoration: none;
  }
}

.simpleCart_total {
  font-size: 1.8em;
}

#emptyCart {
  margin-right: 50px;
}

#cartFooter span:first-of-type {
  font-weight: bold;
}

#cartLogo {
  color: white;
  cursor: pointer;
}