@import "settings";

.navbar {
  background-color: black;
  .simpleCart_quantity{
    font-weight: bold;
    color: white;
  }
}

#contentContainer {
  padding-top: 75px;
}

body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  font-size: 18px;
}



